fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-dotenv
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pydantic-settings
passlib
python-multipart
python-jose[cryptography]
pydantic[email]
passlib==1.7.4
bcrypt==4.0.1